<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example">


    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED"/>-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<!--    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL"/>
<!--    <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL"/>-->
<!--    <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL"/>-->
<!--    <uses-permission android:name="android.permission.ALLOW_ANY_CODEC_FOR_PLAYBACK"/>-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<!--    <uses-permission android:name="android.permission.CONNECTIVITY_USE_RESTRICTED_NETWORKS"/>-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
<!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>-->
<!--    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE"/>-->
    <!-- We use this to disable the status bar buttons of home, back and recent
    during an incoming call. By doing so this allows us to not show the user
    is viewing the activity in full screen alert, on a fresh system/factory
    reset state of the app. -->
<!--    <uses-permission android:name="android.permission.STATUS_BAR"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- This tells the activity manager to not delay any of our activity
     start requests, even if they happen immediately after the user
     presses home. -->
<!--    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>-->
    <!-- Permissions needed for badger count showing on launch icon. -->
    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>











<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
<!--    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />-->
<!--    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH"/>-->


<!--    &lt;!&ndash;    For android 9 and higher to get incoming phone number&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_CALL_LOG"/>-->

<!--    &lt;!&ndash;    For android 9 and higher to get outgoing phone number&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.NEW_OUTGOING_CALL" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

<!--    &lt;!&ndash;    access proximity sensor and turn off display when phone is placed near to face&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

<!--    &lt;!&ndash;    To store recorded calls &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />-->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->

<!--    &lt;!&ndash;    For foreground service &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->



    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme"
      android:requestLegacyExternalStorage="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- ReplaceDialer -->
        <intent-filter>
                        <!-- Handle links from other applications -->
                      <action android:name="android.intent.action.VIEW" />
                      <action android:name="android.intent.action.DIAL" />
                      <!-- Populate the system chooser -->
                      <category android:name="android.intent.category.DEFAULT" />
                      <!-- Handle links in browsers -->
                      <category android:name="android.intent.category.BROWSABLE" />

                      <!--SCHEME TEL-->
                      <data android:scheme="tel"/>
          </intent-filter>
          <intent-filter>
          <action android:name="android.intent.action.DIAL"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        <!-- ReplaceDialer -->

      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <!-- ReplaceDialer Service -->
              <service
                  android:name="com.reactlibrary.CallService"
                  android:permission="android.permission.BIND_INCALL_SERVICE">
                  <meta-data
                      android:name="android.telecom.IN_CALL_SERVICE_UI"
                      android:value="true" />

                  <intent-filter>
                      <action android:name="android.telecom.InCallService" />
                  </intent-filter>

                  <intent-filter>
                      <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                      <action android:name="android.intent.action.PRECISE_CALL_STATE" />
                  </intent-filter>

                  <intent-filter>
                      <action android:name="android.intent.action.PHONE_STATE" />
                  </intent-filter>
              </service>
      <!-- ReplaceDialer Service -->
       <activity android:name=".CallActivity"/>


        <!-- Accessibility Service -->
        <service
            android:name=".MyAccessibilityService"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>
        <!-- Accessibility Service -->
    </application>

</manifest>
